---
layout: layouts/base.html
---
{% if title %}<h1>{{ title }}</h1>{% endif %}
<div class="gallery" id="gallery">
{% for entry in gallery %}
    {% set img = entry.url | findURL(images) %}
    {% set srcset = [] %}
    {% for src in img.srcset %}
        {% set srcset = (srcset.push(src | url), srcset) %}
    {% endfor %}
    {% set srcset = srcset | join(',') %}
    <figure>
        <a href="{{ img.original.url }}"
            data-pswp-width="{{ img.original.width }}"
            data-pswp-height="{{ img.original.height }}"
            data-pswp-srcset="{{ srcset }}">
            <img src="{{ img.thumb.url }}"
                alt="{{ entry.alt or entry.title }}"
                srcset="{{ img.srcset | join(',') }}"
                sizes="(min-width: 420px) 640px, 100vw"
                loading="lazy"
                decoding="async"
            >
        </a>
        {% if entry.title %}<figcaption>{{ entry.title }}</figcaption>{% endif %}
    </figure>
{% endfor %}
</div>
{% set js %}
    {% include "js/lightbox.js" %}
{% endset %}
{% include "partials/article.html" %}
<script type="module">
{{ js | safe }}
</script>