---
layout: layouts/base.html
---
{% if title %}<h1>{{ title }}</h1>{% endif %}
{{ content | safe }}
<div class="gallery items{{ gallery | length }}" id="gallery">
{% for entry in gallery %}
    {% set img = entry.url | findURL(images) %}
    <figure>
        <a href="{{ img.original.url }}"
            data-pswp-width="{{ img.original.width }}"
            data-pswp-height="{{ img.original.height }}"
            data-pswp-srcset="{{ img.srcset }}">
            <img src="{{ img.thumb.url }}"
                alt="{{ entry.alt or entry.title }}"
                srcset="{{ img.srcset }}"
                sizes="(min-width: 420px) 640px, 100vw"
                decoding="async"
            >
        </a>
        {% if entry.title %}<figcaption>{{ entry.title }}</figcaption>{% endif %}
    </figure>
{% endfor %}
</div>
{% set js %}
    {% include "js/lightbox.js" %}
{% endset %}
<script type="module">
{{ js | safe }}
</script>