header.sidebar {
  --side-width: 20rem;
  --content-min: 50%;
}

.logo {
  font-size: 200%;
  font-weight: 700;
  text-align: center;
}

.list-reset {
  padding: 0;
  list-style: none;

  a:hover, a:focus {
    color: unset;
    background-color: unset;
  }
}

ul.nav {
  justify-content: flex-end;
  flex-wrap: wrap-reverse;

  a {
    display: block;
    text-decoration: none;
    font-size: 1.3em;
    padding: 0.5rem 1rem;
    position: relative;
    text-align: center;
  }

  a::before {
    content: "";
    position: absolute;
    width: 80%;
    background-color: var(--bg-color-c);
    border-radius: 2px;
    height: 4px;
    bottom: 2px;
    left: 10%;
    transform: scaleX(0);
    transition: linear 0.3s;
  }

  a:hover::before, a:focus::before, a.current::before {
    transform: scaleX(1);
  }

  .important {
    color: var(--font-color-c);
    background-color: var(--bg-color-c);
    border-radius: 10px;
  }

  .important::before {
    background-color: var(--bg-color-b);
  }

  .important:hover, .important:focus, .important.current {
    color: var(--font-color-c);
    background-color: var(--bg-color-c);
  }
}

footer.cluster > * {
  justify-content: space-between;
  flex-wrap: wrap-reverse;
}

footer p {
  font-size: 0.8rem;
  font-weight: 300;
  overflow: hidden;
  white-space: normal;
}

ul.socials i {
  font-size: 2rem;
}
