// site variables
:root {
    font-family: 'Karla', Arial, sans-serif;
    --font-color-a: #fff;
    --bg-color-a: #0e0e12;
    --font-color-b: #000;
    --bg-color-b: #f7f0f0;
    --font-color-c: #fff;
    --bg-color-c: #477998;
}