// site variables
$font-family: 'Karla', Arial, sans-serif;
$font-color-1: #fff;
$bg-color-1: #0E0E12;
$font-color-2a: #000;
$bg-color-2a: #F7F0F0;
$font-color-2b: #fff;
$bg-color-2b: #477998;
$gallery-column-width: 400px;
$gallery-gap: 10px;
